/*This file is Homepage Style.css */
body { background-image: url(5.1.jpg); font-size: 14px; } 
#headers { width: 100%;height：10px;position: absolute;top:2%;left:20%}
.Tiul{list-style-type:none;margin:0;padding:0;overflow:hidden;}
.Tili{float:left;background-color:#bebebe;}
.Tilic{float:left;background-color:#F08080;}
.Ta:link,.Ta:visited
{display:block;
width:300px;
font-weight:bold;
color:#FFFFFF;
text-align:center;
padding:10px;
text-decoration:none;
text-transform:uppercase;
}
.Ta:hover,.Ta:active{background-color:#F08080;}
#bodypage{width:100%;}
.left-nav{line-height:35px;background-color:#eeeeee;height:900px;width:14%;float:left;padding:5px; margin-top:8%;background:rgba(230,230,250,0.8);}
.lbh{font-size:24px; text-align:center}
.lbp{font-size:20px;margin-left:10%;margin-top:5%}
.lbul{list-style-type:none;margin:0;padding:0;overflow:hidden;}
.lbli{float:right;background-color:#bebebe;letter-spacing:3px;text-align:right}
.lblic{float:right;background-color:#F08080;letter-spacing:3px;text-align:right}
.lba:link,.lba:visited{display:block;width:200px;height:100px;color:#FFFFFF;text-align:center;padding:10px;text-decoration:none;font-size:22px}
.lba:hover,.lba:active{background-color:#F08080;}
.clearfix { clear: both; }
.h-right-col{
	line-height:40px;width:60%;
	min-height:900px;
    padding-bottom:10%;background:rgba(230,230,250,0.8);padding-left:20px;float:left;position:absolute; margin-left:15%; margin-top:-23.5%;}
.hrbp{margin-left:5%;margin-top:5%;font-size:20px;text-align:left;}
.hp{float:right;width:35%;height:35%;margin-top:-50%;margin-right:3%}
.Tb{margin-top:10%;
	border: 2px solid black;
	width:98%;
	font-size:24px;
	padding:5px}
.Tdh{border: 1px solid black;padding:5px}

.right-col{
	line-height:40px;width:50%;
	min-height:900px;
    padding-bottom:10%;background:rgba(230,230,250,0.8);padding-left:20px;float:left;position:absolute; margin-left:15%; margin-top:-38%;}
.rbp{font-size:20px;}
.bdl{list-style-type:none;}
.bdt{font-size:20px;color: #666;line-height:50px;}
.rbul{list-style-type:none;}
.rbli{font-size:20px;color: #666;line-height:50px;}
.rp{width:50%;height:50%;}
.brp{width:30%;height:30%;}
.ctright-col{line-height:40px;width:60%;
	min-height:900px;
    padding-bottom:10%;background:rgba(230,230,250,0.8);padding-left:20px;float:left;position:absolute; margin-left:15%; margin-top:-24.5%;}

#footer { background-color:black;
padding-top:10px;
color:black;
height:180px;width:200%;
position: absolute; 
bottom: 0; 
left:-50%;
right:0;
text-align:center;margin:0}
.bottom-info {color: #9a9a9a; font-size: 12px; line-height: 25px; }
.bottom-info a { color: #9a9a9a; }
